{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static', filename='/assets/img/about-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi, I'm Rachit, a software developer and full-stack web developer.</p>
                        <p>I'm a bit of a nerd. I love learning new things, and I'm always eager to try out new technologies. I'm also a big fan of open source software, and I believe that it's important to share my knowledge and skills with others. In my spare time, I enjoy reading, and playing video games. I'm also a big fan of science fiction and astronomy, and I'm always looking for new books and movies to explore.</p>
                        <p>I believe that design is about more than just making things look pretty – it's about solving problems and creating intuitive, enjoyable experiences for users. Whether I'm working on a website, mobile app, or other digital product, I bring my commitment to design excellence and user-centered thinking to every project I work on.</p>
                        <p>I'm passionate about building things that make people's lives easier and more enjoyable. I love the challenge of solving complex problems with code, and I'm always looking for new challenges. I'm excited to see what the future holds for me in the world of software development.</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}