{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ post.img }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading">{{post.subtitle}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{post.author}}</a>
                                on {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{post.body1}}</p>
                        <h1>{{ post.heading2 }}</h1>
                        <p>{{post.body2}}</p>
                        <h1>{{ post.heading3 }}</h1>
                        <p>{{post.body3}}</p>
                        <h1>{{ post.heading4 }}</h1>
                        <p>{{post.body4}}</p>
                        <h1>{{ post.heading5 }}</h1>
                        <p>{{post.body5}}</p>
                        <h1>{{ post.heading6 }}</h1>
                        <p>{{post.body6}}</p>
                        <h1>{{ post.heading7 }}</h1>
                        <p>{{post.body7}}</p>
                        <h1>{{ post.heading8 }}</h1>
                        <p>{{post.body8}}</p>
                        <h1>{{ post.heading9 }}</h1>
                        <p>{{post.body9}}</p>
                        <h1>{{ post.heading10 }}</h1>
                        <p>{{post.body10}}</p>
<!--                        <h1>{{ post.heading3 }}</h1>-->
<!--                        <p>{{post.body3}}</p>-->

                    </div>
                </div>
            </div>
        </article>
{% include "footer.html" %}
